body {
    margin: 10px 0 0 0;
    padding: 10px 0;
    border-top: 1px dotted #c5c5c5;
    background-image: url();
}
.menubar {
    background-color:;
    margin: 0px;
    padding: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: normal;
    font-style: italic;
    box-shadow: 10px 10px 24px gray;
    width: 305px;
    border:;
    align-items: center;
    align-content: center;
    position: fixed;
    top: 4PX;
    background-image: url(images/background_image.png);
}
.proimg {
    margin-left: 30%;
    border: 1px solid white;
    border-radius: 40px;
    box-shadow: 20px 20px 60px black ;
}

.name {
   margin-left: 25%;
    font-size: 20px;
    text-shadow: 2px 2px 5px black;
    color: white;
}

.designation {
    color: black;
    font-size: 10px;
    margin-left: 7%;
    text-shadow: 2px 2px 5px white;
}
/*below for main div*/
.main   {
    background-color:;
    margin-left: 325px;
    
}
/*below id for profile div */
#profile {
    background-color:;
    /*border: 2px black solid ;*/
    margin-top: 0px;
    padding-left: 60px;
}
/*thisbis for all heading*/
.heading {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}
/*thisbis for all work experiance*/
#workexperience {
    background-color:;
    /*border: 2px black solid ;*/
    margin-top: 0px;
    padding-left: 60px;
}
/*this is for all ancher tag*/
a:link {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: red;
}
a:active {
    text-decoration: underline green;
}
/*this is for skill*/
#skill {
    background-color:;
    /*border: 2px black solid ;*/
    margin-top: 0px;
    padding-left: 40px;

}
/*this is for education*/
#education {
    background-color:;
    /*border: 2px black solid ;*/
    margin-top: 0px;
    padding-left: 60px;

}
/*this is for tech qualifications*/
#technicalqualification {
    background-color:;
    /*border: 2px black solid ;*/
    margin-top: 0px;
    padding-left: 60px;
}
/*this is for personal details*/
#personaldetails {
    background-color:;
    /*border: 2px black solid ;*/
    margin-top: 0px;
    padding-left: 0px;
}
/*this is for contact and declaration*/
#contacts {
    background-color:;
    /*border: 2px black solid ;*/
    margin-top: 0px;
    padding-left: 60px;
}
.span1 {
    float: right;

}
