body {
    padding: 0px;
    margin: 0px;
    font-family: "Gill Sans Extrabold", sans-serif;
    background-color: #f1f3f5;
   /* background-image: linear-gradient(283deg, #f1f3f5 0%, #7a91ac 50%, #ffffff 100%);
    background-repeat: no-repeat;
    background-position: center;*/
    }
.mainnavi { 
    background-color:;
    width: 300PX;
    height: 300PX;
    align-items: center;
    box-shadow: 10px 0px 25px black;
    position: fixed;
   

}
.mainnavi h1{ 
    text-align: center;
    
 }
 .mainnavi h4{ 
    text-align: center;  
       
 }
 
.mainnavi img { 
    width: 280PX;
    height: 280PX;
    padding: 9px;
}

#slogo {


}
.sociallogo  {
    width: 300px;    
}
.table1  {
 
    text-shadow: 10px 10px 25px black;
    text-align: center;
}
.table2  {
    
    text-shadow: 10px 10px 25px black;
    text-align: center;
}
#tableimg1  {
  margin-left: 30%;
}
#tableimg2  {
    margin-right: 30%;
  }
.sociallogo img {
width: 40px;
height: 40px;
border-radius: 50%;


}
.sociallogo img:hover {
    transition-delay: 2ms;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    margin-top: -5px;
    box-shadow: 10px 10px 25px black;    
}
.container {
    padding: 50px;
    margin: 0px 0px 0px 320px;
    text-align: left;
    background-color: ;
}
.container h1 {
    font-family: sans-serif;

}
.frontbutton {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.frontbutton:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.frontbutton:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}

.frontbutton a {
        text-decoration: none;
        color: white;
    }
   
}/*
.more {
    border: none;
    background-color:none ;
    padding: 2px;
    border-radius: 30%;
    box-shadow:inset 0 -3em 3em rgb(100 100 100 / 0%), 0 0 0 2px white, 0.3em 0.3em 1em rgb(200 0 0 / 60%);

}
.more:hover {
    transition-delay: 2ms;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    margin-top: -5px;
    box-shadow: inset 0 0 10px gray, 0 0 0 2px white, 0.3em 0.3em 1em rgb(200 0 0 / 60%);
    border-radius: 0%;
    font-size: 15px;

}
.more1 {
    margin-left: 30px;
    background-color:none ;
    padding: 2px;
    border-radius: 30%;
    box-shadow:inset 0 -3em 3em rgb(100 100 100 / 0%), 0 0 0 2px white, 0.3em 0.3em 1em rgb(200 0 0 / 60%);
    border: none;
}
.more1:hover {
    transition-delay: 2ms;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    margin-top: -5px;
    box-shadow: inset 0 0 10px gray, 0 0 0 2px white, 0.3em 0.3em 1em rgb(200 0 0 / 60%);
    border-radius: 0%;
    font-size: 15px;

}